*::before,
*::after,
* {
  font-size: 16px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Orbitron', sans-serif;
}

.background {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 650px;
  height: 750px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  border: solid 0.12rem;
  border-radius: 0.75rem;
  padding: 1rem;
}

#display {
  padding: 0.5rem;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
  border: solid 0.12rem;
  overflow: auto;
}

.display-value {
  font-size: 2.25rem;
  word-wrap: break-word;
}

.calculator-buttons {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  margin-top: 1rem;
}

button {
  font-size: 2.5rem;
  border: solid 1px;
  border-radius: 5px;
}

button:nth-child(17) {
  grid-column: 1/3;
}

#current-operation {
  color: green;
}

#previous-operation {
  color: red;
}
